/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    color: black;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* finish css reset*/

html{
    margin: auto;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebd4ff;
    
}

ul, li{
    display: inline-flex;
}
a img{
    max-height: 2em;
}

h2{
    width: 100%;
    font-weight: 500;
    font-size: 1.2em;
    margin: 0.5em 0;
}

label{
    display: block;
    color: red;
}

 /*header*/

nav img{
    width: 7em;
}



header li:nth-child(2){
    font-weight: 500;
    margin-left: 1.5em;
}

header{
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    align-items: center;
    max-width: 100%;
    background-color: #fff;
    flex-wrap: wrap;
/*
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; */
      
}

header div{
    display: inline-block;
    overflow: hidden;
    margin: 1em;
}

header nav{
    width: 100%;
}

header ul{
    float: right;
}

header img{
    margin-left: 1em;
}

#menu{
    margin: 2em;
    vertical-align: super;
    float: right;
}

/* finish header */


/* hero */

#hero-image{
    overflow: hidden;
}

.hero-image {
    background-image: url("../images/hero-optimizado.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 40vh;
    left: 5vw;
  }

  .hero-text div{
      width: 40vw;
  }

  .hero-text h1{
      font-size: 3em;
      font-weight: 700;
  }

  .hero-text h2{
      font-size: 1.3em;
      margin: 1.5em 0;
  }

  .hero-text a{
      font-size: 1.3em;
    text-align: center;
    padding: 1em 2em; 
    display: inline-flex;
    background-color: #7611c5;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0.5em;
    color: white!important;
    font-weight: 500;
  }

/* finish hero */

/* 3 articles */

#tresarticles{
    display: flex;
    justify-content: space-around;
    max-width: 90%;
    margin: 0 auto;
}

article{
    max-width: 33%;
    display: inline-block;
    text-align: center;
    padding: 2em 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2em 1em;
    border-radius: 1.5em;
    background-color: white;
}

article:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

article img{
    height: 3em;
}

article p{
    margin: 0.5em;
}

/* finish 3 articles */

/* CTA */

#CTA{
    max-width: 100%;
    background-color: #ff3a0ecc;
    text-align: center;
    padding: 2.5em;
    margin: 2em auto;
}

#CTA h1, #CTA h2, #CTA a{
    color: white;
}

.whitefilter{
    filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(331deg) brightness(117%) contrast(100%);
}

#CTA h1{
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 1em;
}

#CTA a{
    margin: 1em;
    font-weight: 500;
}

#CTA img{
    padding: 0 1em; 
    vertical-align: middle;
}

#CTA h2{
    margin: 1em;
}

.botonesCTA{
    padding: 1em 2em 1em 1em; 
    display: inline-flex;
    background-color: #7611c5;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0.5em;
}

.botonesCTA:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* finish CTA */

/* form */

form{
    width: 90%;
    margin: 0 auto 5em auto;
}

input::placeholder {
    font-size: 1.1em;
}
#dudas{
    margin: 0;
    width: 90%;
    margin: 1em auto;
}
input{
    width: 90%;
}
#sexo{
 width: 30%;
 margin: 1em 0!important;
 border: 2px solid black;
}
#genero{
    color: black;
}
input, #sexo{
    padding: 1em;
    margin: 1em 0;
    border-radius: 0.5em;
    background-color: #f3e0ff;
}

input[type="submit"]{
    width: 12em;
    float: right;
    background-color: #7611c5;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    font-weight: 500;
}

input[type="submit"]:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

textarea{
    width: 90%;
    height: 8em;
    resize: vertical;
    margin: 1em 0;
    font-size: 1.1em;
    background-color: #f3e0ff;
    border-radius: 0.5em;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    padding: 1em;
    border: 2px solid black;
}

textarea::placeholder{
    font-size: 1.1em;
}

#respuesta_form{
    display: inline-block;
}

/* finish form */

/* empieza comentarios */
#comentarios{
    background-color: #fbbb9c;
    overflow: hidden;
}

#comentarios h2{
    margin: 1em;
    padding-top: 1em;
}

#contenedorcomentarios{
    display: flex;
    justify-content: space-around;
    max-width: 90%;
    margin: 0 auto;
}

#comentarios ul{
    width: 25%;
    background-color: #fff;
    max-width: 33%;
    display: inline-block;
    text-align: center;
    padding: 2em 0.5em;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin: 2em 1em;
    border-radius: 1.5em;
}

#listado{
    margin:  0 auto;
    text-align: center;
}

#listado ul li:nth-child(2){
    font-weight: 300;
}




/* termina comentarios */

/* Footer */

#footer0{
    background-color: white;
}
footer{
    width: 90%;
    margin: 0 auto;
}

#footer1{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

footer section{
    width: 20%;
    padding: 1em;
}

footer ul, li{
    display: block;
}

footer li{
    margin: 1em;
}

footer img{
    vertical-align: middle;
    margin-right: 1em;
}

#footer1 div{
    margin: 1em;
}

#logofooter{
    width: 6em;
    display: inline-block;
}

/* finish footer */


@media (max-width: 1023px){
    .hero-text{
        font-size: 0.8em;
    }
    footer section{
        width: 25%;
    }
}

@media (max-width: 768px){
    #menu{
        overflow: hidden;
        margin: 1em;
        font-size:1em;
    }
    nav img{
        width: 4em;
    }
    .hero-text{
        width: 50%;
    }
    .hero-text h1{
        font-size: 1.8em;
    }
    .hero-text h2{
        font-size: 1.2em;
        margin: 1em 0;
        width: 75%;
    }
    .hero-text a{
        padding: 0.75em 1.2em;
        margin: 0 25% 0 0;
    }
    #tresarticles{
        display: block;
        overflow: hidden;
    }
    article{
        max-width: 90%;
        width: 90%;
        display: block;
    }
    #CTA{
        overflow: hidden;
    }
    .botonesCTA{
        padding: 0.5em 1em 0.5em 0.5em;
    }
    form{
        width: 90%;
        margin: 0 auto 6em auto;
    }
    #sexo{
        width: 50%;
    }
    input[type="submit"]{
        font-size: 1.1em;
        width: 10em;
    }
    #comentarios ul{
        width: 90%;
        max-width: 100%;
        margin: 0.5em;
        padding: 0.75em;
    }
    #listado ul:last-child{
        margin-bottom: 2em;
    }
    footer section{
        width: 100%;
        padding: 0.5em 0;
    }
    #footer1{
        display: block;
    }
    #footer1 div:first-child{
        margin: 1em 0;
    }
    footer li{
        margin: 1em 0;
    }
    @media (max-width: 425px){
        body{
            font-size: 0.85em;
        }
        
    }

}